@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Smokum&display=swap');
body{
    background-color: #00b4d8;
    font-family: 'Regular 400', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 50px;
}

header{
    background-color: #bde0fe;
}

nav a{
    background-color: #b99b3f; 
}

nav a:hover{
    background-color: #0077b6;
}

.book{
    background-color: white;
}

.join{
    background-color: #8fc6ee;
}

.book:hover{
    background-color: #D4AC0D;
}

.join:hover{
    background-color: #00b4d8;
}

#background{
    background-color: #bde0fe;
}

.msg{
    background-color: #9abbe7;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #0077b6;
    padding: 25px;
}

nav a{
    background-color: #b99b3f;
    text-align: center;
    color: black;
    text-decoration: none;
}

nav a:hover{
    background-color: #0077b6;
    color: #b4c0c7;
    text-align: center;    
}

.home-title{
    background-color: #080704;
    color: #d9c2a3;
    font-family: 'Regular 400', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    background-color: #b99b3f;  
    color: #080704;
}

.book{
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin: 50px;
    border-radius: 5px;
}

.join{
    background-color: #a7abad;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    margin: 50px; 
    border-radius: 5px;
}

.book:hover{
    background-color: #D4AC0D;
    color: #0077b6;  
}

.join:hover{
    background-color: #00b4d8;
    color: black;
}

.msg h2{
    background-color: white;
    color: black;
    margin: 0;
}

.msg p{
    background-color: white;
    color: black;
    padding-bottom: 15px;
}

footer{
    background-color: black;
    color: white;
    padding: 50px;
}

footer a{
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
}

footer a:hover{
    background-color: white;
    color: black;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100px;

}

nav a{
    text-align: center;
    padding: 35px;
}

.navbar ul{
    text-align: center;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
    
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
    border: 10px;
    color: black;
}

.rapids-card{
    margin: 200px 0;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;

}

main section img{
    box-sizing: border-box;
}

#background{
    height: 725px;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

