@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ewert&display=swap');

body{
    font-family: 'Ewert', sans-serif;
    font-size: 30px;
    background-color: #cc998d;
    margin: 1px;
    padding: 1px;
    display: grid;

}

header{
    display: grid;
    background-color: #429ea6;
    font-size: 30px;
    grid-template-columns: 150px auto;
    align-items: center;
}

.logo{
    width: 80px;
    padding-top: 4px;
    padding-left: 8px;
}

#logo_link{
    padding-top: 4px;
    justify-self: center;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

#flight{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#flight-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#flight-img{
    width: 100%;
}

#flight-msg{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 60px;
    font-size: 60px;
    color: #153b50;
}

#flight-msg h2{
    text-align: center;
    color: #153b50;
    font-size: 50px;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.msg{
    grid-column-start: 2;
    grid-column-end: 5;
    padding-left: 30px;
    width: 100%;
    padding-top: 40px;
}

.img{
    grid-column: 6/7;
    grid-row: 1/2;
    padding-top: 180px;
    padding-left: 20px;
}

.msg2{
    grid-column-start: 8;
    grid-column-end: 11;
    padding-top: 40px;
    padding-right: 10px;
    width: 100%
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

footer{
    display: flex;
    background-color: #429ea6;
    padding: 25px 25px;
    margin-top: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}

/* This is the start of Page 2 in my personal website*/

.history-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.landscape-img{
    grid-column: 1/5;
    width: 650px;
    padding-left: 20px;
    padding-top: 30px;
}

.landscape-msg{
    grid-column: 5/11;
    padding-left: 0;
    font-size: 30px;
}

.portrait-msg{
    font-size: 30px;
    padding-left: 0;
    grid-column: 5/11;
}

.headstone-msg{
    font-size: 30px;
    padding-left: 0;
    grid-column: 5/11;

}

.portrait-img{
    grid-column: 1/5;
    padding-top: 30px;
    padding-left: 20px;
    width: 500px;
}

.headstone-img{
    padding-top: 30px;
    padding-left: 20px;
    grid-column: 1/5;
    width: 650px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f1eaea;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active{
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3.0s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
@media screen and (max-width: 900px) {

    #flight,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #flight {
        margin-top: 0;
    }

    #flight-msg {
        margin-top: 0;
    }

    #flight-msg h1 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}